---
# Global style options affecting all languages
BasedOnStyle:                           Chromium
IndentWidth:                            4
TabWidth:                               4
---
Language:                               Cpp
UseTab:                                 Always
SortIncludes:                           true
ColumnLimit:                            80
AlignAfterOpenBracket:                  BlockIndent
AlignEscapedNewlines:                   Right
AllowAllParametersOfDeclarationOnNextLine: false
AllowShortIfStatementsOnASingleLine:	false
AllowShortFunctionsOnASingleLine:		InlineOnly
BreakBeforeBraces:						Custom
BraceWrapping:
    AfterCaseLabel:                     false
    AfterClass:                         false
    AfterFunction:                      true
    BeforeElse:                         true
BinPackArguments:						true
BinPackParameters:						false
NamespaceIndentation:					Inner
SpacesInParentheses:				    true
SpaceAfterCStyleCast:					true
KeepEmptyLinesAtTheStartOfBlocks:		false
PointerAlignment:						Left
