[submodule "data/doc"]
	path = data/doc
	url = https://github.com/hydrogen-music/documentation.git
[submodule "extern/clap"]
	path = extern/clap
	url = https://github.com/free-audio/clap.git
[submodule "extern/clap-validator"]
	path = extern/clap-validator
	url = https://github.com/free-audio/clap-validator.git
[submodule "extern/lv2"]
	path = extern/lv2
	url = https://github.com/lv2/lv2.git
[submodule "extern/lv2lint"]
	path = extern/lv2lint
	url = https://git.ventosus.ch/lv2lint
[submodule "extern/clap-wrapper"]
	path = extern/clap-wrapper
	url = https://github.com/free-audio/clap-wrapper.git
[submodule "extern/imgui"]
	path = extern/imgui
	url = https://github.com/ocornut/imgui.git
[submodule "extern/imgui-knobs"]
	path = extern/imgui-knobs
	url = https://github.com/altschuler/imgui-knobs.git
[submodule "extern/ImGuiFileDialog"]
	path = extern/ImGuiFileDialog
	url = https://github.com/aiekick/ImGuiFileDialog.git
