Source: hydrogen
Section: Multimedia
Priority: optional
Maintainer: Sebastian Moors <smoors@users.sf.net>
Build-Depends: debhelper (>= 4.0.0), libsndfile1-dev, libtar-dev, liblrdf-dev, cmake, librubberband-dev, qt5-default, libarchive-dev, libasound2-dev, libjack-jackd2-dev | libjack-dev, liblo-dev, libpulse-dev, libcppunit-dev
Standards-Version: 3.6.2

Package: hydrogen
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: Drum machine/step sequencer
 Hydrogen is an advanced drum machine. It's main goal is to bring
 professional yet simple and intuitive pattern-based drum
 programming. See http://www.hydrogen-music.org for details.
 .
 Warning: this package contains the development version (potentially
 unstable) released for testing purpose only.

