Source: hydrogen
Section: Multimedia
Priority: optional
Maintainer: Alessandro Cominu <comix@users.sf.net>
Build-Depends: debhelper (>= 4.0.0), libsndfile1-dev, libjack-jackd2-dev, libasound-dev, libflac++-dev, libtar-dev, libqt4-dev, liblrdf-dev, scons
Standards-Version: 3.6.2

Package: hydrogen
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: Drum machine/step sequencer
 Hydrogen is an advanced drum machine. It's main goal is to bring
 professional yet simple and intuitive pattern-based drum
 programming. See http://www.hydrogen-music.org for details.
 .
 Warning: this package contains the development version (potentially
 unstable) released for testing purpose only.

