#!/usr/bin/make -f

# Uncomment this to turn on verbose mode.
#export DH_VERBOSE=1


configure: 
	# Add here commands to configure the package.

build:  
	# Add here commands to compile the package.
	#cd ..; scons


clean:
	dh_testdir
	dh_testroot

	# Add here commands to clean up after the build process.
	cd ..; scons -c
	dh_clean


install: build
	dh_testdir
	dh_testroot
	dh_clean -k
	dh_installdirs
	mkdir -p $(CURDIR)/debian/hydrogen/usr/bin

	cd ..; scons --no-cache destdir=$(CURDIR)/debian/hydrogen/ prefix=/usr/ install

	find $(CURDIR)/debian/hydrogen -name '.svn' | xargs rm -rf
docs:


docs_install:



# Build architecture-independent files here.
binary-indep: build install docs docs_install
# We have nothing to do by default.

# Build architecture-dependent files here.
binary-arch: build install
	dh_testdir
	dh_testroot
	dh_installchangelogs
	dh_installdocs
	dh_installman
	dh_link
	dh_strip
	dh_compress
	dh_compress -X.py
	dh_fixperms
	#dh_python
	dh_installdeb
	dh_shlibdeps
	dh_gencontrol
	dh_md5sums
	dh_builddeb




binary: binary-indep binary-arch
.PHONY: build clean binary-indep binary-arch binary install configure
