[Desktop Entry]
Name=Hydrogen Drum Machine
Name[de]=Hydrogen Drumsequencer
Name[ru]=Драм-машина Hydrogen
Name[hu]=Hydrogen Dobgép

Comment=Create drum sequences
Comment[de]=Schlagzeugsequenzen erstellen
Comment[ru]=Создание партий ударных инструментов
Comment[hu]=Dobszekvenciákat lehet vele készíteni


Encoding=UTF-8
Version=1.0

Type=Application
Categories=Application;AudioVideo;Sound;Audio;Qt;

MimeType=text/xml

FilePattern=hydrogen
Exec=hydrogen %F
TryExec=hydrogen
Terminal=false
StartupNotify=true

Icon=@ac_prefix@/share/pixmaps/icon.svg