[Desktop Entry]
Name=Hydrogen
Comment=Create drum sequences
Comment[de]=Schlagzeugsequenzen erstellen
Comment[ru]=Создание партий ударных инструментов
Comment[hu]=Dobszekvenciákat lehet vele készíteni
Comment[tr]=Davul partisyonu yaz
Comment[fr]=Créer des séquences rythmiques

GenericName=Drum Machine
GenericName[de]=Drumsequencer
GenericName[ru]=Драм-машина
GenericName[tr]=Davul Makinası
GenericName[fr]=Boîte à rythme

Version=1.0

Type=Application
Categories=AudioVideo;Audio;Qt;
Keywords=audio;sound;jackd;sampler;drum;

MimeType=text/xml;

Exec=hydrogen %F
TryExec=hydrogen
Terminal=false
StartupNotify=true

Icon=h2-icon
